html{
font-family: 'Be Vietnam', sans-serif;
    background-color: #f5bc3b;
    color: #192944;
    text-align: justify;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3{
    font-family: "Abel", "sans-serif";
    text-transform: uppercase;
}

h1{
    margin-bottom: 0;
    font-size: 40px;
}
h2{
    font-family: "Abel", "sans-serif";
    text-transform: uppercase;
    font-size: 40px;
    border-top: white 3px solid;
    margin-top: 0;
}

h3{
    font-size: 30px
}

#présentation{
    display: inline-block;
    width: 33%;
    margin-right: 25%;
    vertical-align: middle;
}
#main{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}