/*STANDARDS*/

html{
    font-family: 'Be Vietnam', sans-serif;
    background-color: #f5bc3b;
    color: #192944;
    width: 95%;
    margin: 0 auto 0 auto;
    line-height: 1.8;
}

h1{
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0;
    border-bottom: white 3px solid;
    font-size: 40px;
    line-height: 1.5;
}
h2{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 0;
    line-height: 1.5;
}

h3, nav{
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    font-size: 33px;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 1.2;
}

.italic_info{
    margin-top: 0;
    font-style: italic;
    font-size: 15px;
}

/*End of basics settings*/

/*MENU & header part*/
header {
    margin-bottom: 80px;
}

nav {
    display: flex;
    justify-content: center;
}

.menu, a {
    background: #192944;
    display: inline-block;
    color: floralwhite;
    border-radius: 5px;
    margin: 0 5px 0 5px;
    padding: 2px 5px 2px 5px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
}

#socialblock{
    display: flex;
}

.menu:hover {
    transform: scale(1.1);
    transition-duration: .33s;
}

#socialblock {
    position: -webkit-sticky;
    position: sticky;
    left: 40px;
    top: 5px;
}

#socialblock a {
     background: #f5bc3b !important;
     padding: 0 !important;
     border: 0 !important;
}

.social {
    display: inline-block;
}

img{
    margin: 5px;
}

#présentation{
    display: inline-block;
    margin-top: 30px;
    width: 25%;
    margin-right: 30%;
    vertical-align: middle;
}
/*end of MENU & header part*/

.blockparty{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.blocktitle{
    width: 25%;
}

.block_container{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

#main{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

ul{
    padding: 0;
    list-style: none;
}

#menu_list{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
}

#compcomm{
    margin-right: 10px;
    width: 50%;
    padding-right: 10px;
    border-right: white 3px solid;
}

#compdev{
    vertical-align : top;
    display: inline-block;
    width: 40%;
}

#compdev p{
    text-align: center;
}


.block_container .jobs:first-child{
    margin-left: 0 !important;
}

.jobs{
    display: inline-block;
    width: 25%;
    margin: 10px;
    vertical-align: top;
}

#jobmid{
    border-left: white 3px solid;
    border-right: white 3px solid;
    padding-left: 20px;
    padding-right: 20px;
}
.jobname{
    margin-bottom: 0;
}

#_other{
    display: block;
    width: auto;
}

.year{
    font-size: 50px;
    display: inline-block;
    vertical-align: middle;
}

.info_diploma{
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
}

.diploma_column{
    display: inline-block;
    margin-right: 30px;
}

#formations{
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

#callme{
    width: 70%;
    background-color: white;
    border: #192944 3px solid;
    border-radius: 20px;
    padding: 20px;
    height: 450px;
}

input[type=text]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
}

#messagearea{
    width: 100%;
    height: 80px;
}

/* ========mediaqueries========= */
@media all and (max-width: 890px) {
    html{
        width: 100%;
        margin: 0 2px;
        font-size: 13px;
        display: block;
    }

    header{
        margin-bottom: 30px;
    }
    #socialblock{
        justify-content: center;
    }
    img{
        margin: 0;
    }
    h1,h2{
        font-size: 27px;
    }

    h3{
        font-size: 20px;
    }

    #présentation {
        width: 66%;
        vertical-align: bottom;
        margin: 10px 0;
    }
    #main {
        width: 60%;
        margin: 0 auto 0 auto;
        display: block;
    }

    #menu_list{
        flex-direction: column;
    }

    li,.menu{
        margin-bottom: 10px;
    }

    #jobmid{
        border-left: white 3px solid;
        border-right: white 3px solid;
        padding-left: 5px;
        padding-right: 20px;
    }
    .blockparty{
        margin-bottom: 40px;
        flex-flow: column;
    }
    .blocktitle{
        width:60%;
    }
    .block_container{
        width: 100%;
    }
    #expbloc>.block_container{
        flex-direction: column;
    }
    .jobs,#jobmid{
        width: 100%;
        border: 0;
        margin: 10px 0;
        padding: 0;
    }
    .diploma{
        margin-bottom: 15px;
    }
    .year{
        font-size: 20px;
    }

    #callme{
        margin: 0 auto 0 auto;
    }
}